* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: .5rem;
  height: 100vh;
}

.u-txt-l {
  font-size: 200%;
}
.u-txt-m {
  font-size: 125%;
}
.u-txt-faded {
  color: #777;
}
.u-inset {
  padding: .5rem
}

.theme--light, .theme--default {
  background: #fff;
  color: #333;
}
.theme--dark {
  background: #000;
  color: #ccc;
}
.theme--dark .option__checkbox {
  filter: invert(80%);
}


.option {
  display: flex;
}

.option + .option {
  margin-top: 1rem;
}

.option__label {
  padding-left: .25rem;
  user-select: none;
}

.option__help::before {
  content: '';
  display: block;
}




.optionGroupList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.optionGroup {
  width:100%;
  padding:1rem 0
}

.optionGroup {
  border-top: 1px solid #8884;
}


.optionGroup__name {
  flex: 0 0 10rem;
  margin-bottom: .5rem;
}
.optionGroup__options {
  flex: 1;
}

.container {
  padding:.5rem;
}
.container__header {
  display: flex;
  align-items: center;
}
.container__header > * {
  margin-right: .5rem;
}
.container__body {
  margin-top: 1rem;
}

@media (min-width:30em) {
  .optionGroup {
    display: flex;
  }
}

@media (min-width:60em) {
  .optionGroup {
    width:50%;
    margin-bottom: 2rem;
  }
  .optionGroup {
    border-top: none
  }
  .optionGroup:nth-child(2n) {
    border-left:1px solid #8884;
    padding-left: 2rem;
  }
  .optionGroup:nth-child(2n+1) {
    padding-right: 2rem;
  }
}
